# Environment variables for the application
NEXT_PUBLIC_API_URL = 'http://backend:3000'

# Environment variables for GitHub OAuth
GITHUB_CLIENT_ID = 'your_github_client_id'
GITHUB_CLIENT_SECRET = 'your_github_client_secret'


# Environment variables for NextAuth
NEXTAUTH_SECRET=uma_chave_aleatoria_bem_grande
NEXTAUTH_URL=http://localhost:3000